// Mixins contains several mixins which don't have group in another helper file

//Pseudo: for pseudo-elements
//---------------------------

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


//Placehoder: for modify styles in placeholders, you can use like in the example
//------------------------------------------------------------------------------

@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}

//Example 
//input,  
//textarea {  
//    @include input-placeholder {
//        color: $grey;
//    }
//}

// Ellipsis
//---------

@mixin ellipsis($width: 100%) {
    max-width: $width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//Ellipsis vertical
//-----------------

@mixin ellipsis($max-height, $lines: 2) {
    // Fallback for non-webkit browsers.
    // Fallback does not render ellipsis.
    overflow: hidden;
    max-height: $max-height;

    // Webkit solution for multiline ellipsis
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;

    // Solution for Opera
    text-overflow: -o-ellipsis-lastline;
}

// example of ellipsis mixin usage
//.multiline-ellipsis {
//    width: 30%;
//    @include ellipsis(4rem, 4);
//}